<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754427206411-9p2prva1d6s3kn57lba2b10t7u061pni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754427206411-9p2prva1d6s3kn57lba2b10t7u061pni</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>754427206411-2gnooaid0n6t7dg8bhgs9telsbap4pne.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkjPUiwr4PU4K1_hZ6ShDQnKCsXDeFB20</string>
	<key>GCM_SENDER_ID</key>
	<string>754427206411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aurakart</string>
	<key>PROJECT_ID</key>
	<string>aura-kart</string>
	<key>STORAGE_BUCKET</key>
	<string>aura-kart.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754427206411:ios:fc5a93b717d14fe29ae00e</string>
</dict>
</plist>